.b-container {
  width: auto;
  background-color: #ddc2c2;
}

.b-task1Form {
  height: auto;
  width: 90%;
  margin: 0 auto;
  padding: 55px;
  clear: both;
  background-color: #a16262;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 15px rgba(80, 79, 75, 0.685);
          box-shadow: 0 0 15px rgba(80, 79, 75, 0.685);
}

.b-task1Form__title {
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.b-task1Form__text {
  font-family: cursive;
  font-size: 18px;
}

.b-task2Form {
  height: auto;
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  padding: 55px;
  clear: both;
  background-color: #a16262;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 15px rgba(80, 79, 75, 0.685);
          box-shadow: 0 0 15px rgba(80, 79, 75, 0.685);
}

.b-task2Form__title {
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.b-task2Form__text {
  font-family: cursive;
  font-size: 18px;
}

.b-task2Form__task2Value {
  display: inline;
}

.b-task3Form {
  height: auto;
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  padding: 55px;
  clear: both;
  background-color: #a16262;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 15px rgba(80, 79, 75, 0.685);
          box-shadow: 0 0 15px rgba(80, 79, 75, 0.685);
}

.b-task3Form__title {
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.b-task3Form__text {
  font-family: cursive;
  font-size: 18px;
}

.b-task3Form__greed {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.b-task3Form__task3Value {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #143170;
  margin-top: 30px;
}

.b-task3Form__input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.b-task3Form__input_size {
  width: 30px;
}

.b-task4Form {
  height: 200px;
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  padding: 55px;
  clear: both;
  background-color: #a16262;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 15px rgba(80, 79, 75, 0.685);
          box-shadow: 0 0 15px rgba(80, 79, 75, 0.685);
}

.b-task4Form__title {
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.b-task4Form__text {
  font-family: cursive;
  font-size: 18px;
}

.b-task4Form__task4Value {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #143170;
  margin-top: 30px;
  margin-left: 50px;
}

.b-task4Form__input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.b-task4Form__input_size {
  width: 30px;
}

.b-task5Form {
  height: auto;
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  padding: 55px;
  clear: both;
  background-color: #a16262;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 15px rgba(80, 79, 75, 0.685);
          box-shadow: 0 0 15px rgba(80, 79, 75, 0.685);
}

.b-task5Form__title {
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.b-task5Form__text {
  font-family: cursive;
  font-size: 18px;
}

.b-task5Form__task5Value {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #143170;
  margin-top: 18px;
}

.b-task5Form__input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.b-task5Form__input_size {
  width: 30px;
}

.b-task6Form {
  height: auto;
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  padding: 55px;
  clear: both;
  background-color: #a16262;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 15px rgba(80, 79, 75, 0.685);
          box-shadow: 0 0 15px rgba(80, 79, 75, 0.685);
}

.b-task6Form__title {
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.b-task6Form__text {
  font-family: cursive;
  font-size: 18px;
}

.b-task6Form__task6Value {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #143170;
  margin-top: 18px;
}

.b-task6Form__input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.b-task6Form__input_size {
  width: 30px;
}

.b-task7Form {
  height: auto;
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  padding: 55px;
  clear: both;
  background-color: #a16262;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 15px rgba(80, 79, 75, 0.685);
          box-shadow: 0 0 15px rgba(80, 79, 75, 0.685);
}

.b-task7Form__title {
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.b-task7Form__text {
  font-family: cursive;
  font-size: 18px;
}

.b-task7Form__task7Value {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #143170;
  margin-top: 18px;
}

.b-task8Form {
  height: auto;
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  padding: 55px;
  clear: both;
  background-color: #a16262;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 15px rgba(80, 79, 75, 0.685);
          box-shadow: 0 0 15px rgba(80, 79, 75, 0.685);
}

.b-task8Form__title {
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.b-task8Form__text {
  font-family: cursive;
  font-size: 18px;
}

.b-task8Form__input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.b-task8Form__input_size {
  width: 30px;
}

.b-task8Form__task8Result {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #143170;
  margin-top: 18px;
}
/*# sourceMappingURL=style.css.map */